@charset "utf-8";

/* 불가리 PJ 제품 상세 페이지 CSS - product_detail.css */




/* 부모 박스에 por줘서 화면 전체 까맣게 감싸기 */
#test {
    position: relative;
}

/* 섹션1 제품 상세사항 겉박스 */
.pd_detail_bx{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    
    background-color: rgba(20, 20, 20, 0.712);

    /* 처음에 숨겨두기 */
    display: none;
}
.pd_detail_bx .close_btn_bx>.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;

    font-size: 45px;
    color: var(--black);

    cursor: pointer;
}

.pd_detail_bx>.wrap{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1300px;
    padding: 50px;

    display: flex;
    justify-content: center;

    background-color: var(--white);
}
/* 이미지 배너 겉박스 */
.img_ban_bx{
    width: 630px;
    height: 630px;
    /* background-color: var(--black); */
}


/* 제품 상세 사항 설명 박스 */
/* 제품 설명 겉박스 */
.desc_bx{
    line-height: 1.8;
}
/* 가격 */
.pd_detail_bx .price{
    font-size: 18px;
    font-weight: bold;
}

/* 썸네일 갤러리 스와이퍼 배너 디자인 세팅 */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.mySwiper2 {
    height: 80%;
    width: 100%;
}
.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
}
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 제품 상세 설명 겉박스 */
.desc_bx{
    padding: 10px 5px;
    font-size: 16px;
}
.desc_bx>*{
    padding-bottom: 10px;
}
.desc_bx .title{
    font-size: 27px;
}
.desc_bx #size-selec{
    width: 100%;
    height: 30px;
}
.desc_bx .shoppingback,
.desc_bx .reservation,
.desc_bx .store_find{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 10px;
    background-color: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
    line-height: 1.5;
    transition: 
    background-color .3s ease-in-out,
    color .3s ease-in-out;
}

.desc_bx .shoppingback:hover,
.desc_bx .reservation:hover,
.desc_bx .store_find:hover{
    background-color: var(--black);
    color: var(--white);
}
