@charset "utf-8";

/* 불가리 PJ 서브 - 제품페이지 CSS - sub_product.css */

/* 외부 CSS 머징 */
@import url(../reset.css);
@import url(../core.css);
@import url(../common.css);

/* 공사중 */
body .cont * {
    /* outline: 1px dashed black; */
}

/* 변수 세팅 */
:root {
    /* 영역별 높이값 */
    --ht300: 300px;
    /* 그리드 갭 */
    --gridGap: 20px;
}


/* 네비게이션바 */
.nav_bar{
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 20px 20px;
}
.nav_bar ol{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav_bar ol a,
.nav_bar ol li{
    font-size: 14px;
    color: var(--gray);
}

/* 표제 */
.filter_bx .headline{
    text-align: center;
    font-size: 27px;
    line-height: 1.7;
    letter-spacing: 1px;
}
/* 1-3.총 재고, 정렬 기준, 필터바 - 겉박스 */
.classification{
    box-shadow: inset 0px -0.8px 0px 0px var(--silver);
}
/* 정렬 기준 겉박스 */
.classification .sort_bar{
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
}
select#selecbx:focus{
    outline: none;
}
.sort_bar .sort{
    display: flex;
    gap: 10px;

}
/* 필터 바 겉박스 */
.filter_bar{
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
}
/* 필터 바 - 필터 제목들만 */
.filter_bar ul.filter{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 필터 바 - 분류 기준들 (카테고리, 소재, 젬스톤, 가격) */
.filter>ul{
    display: flex;
    gap: 50px;
}
/* 분류 기준들 세로 정렬 가운데로 맞추기 */
.filter>ul>li{
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* 더보기 아이콘만 냅두고 줄이기 아이콘은 숨겨두기 */
.filter>ul>li>.expand_less{
    display: none;
}

/* 필터 옵션 바 - 겉박스 폼태그 */
.filterFn{
    box-shadow: inset 0px -0.8px 0px 0px var(--silver);

    /* 처음에 안보이게 숨겨두기 */
    display: none;
}
/* 클래스 on 추가시 보이게 만들기 */
.filterFn.on{
    display: block;
}

/* 필터 옵션 바 */
.filter_opt{
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
}
/* 필터의 각 옵션박스 전체 공통 디자인 */
.filter_opt>.sel_opt{
    display: flex;
    gap: 30px;

    /* 처음에 모든 옵션 박스 숨겨두기 */
    display: none;
}
/* 각 옵션박스에 클래스 on 추가시 보이게 만들기 */
.filter_opt>.sel_opt.category.on,
.filter_opt>.sel_opt.material.on,
.filter_opt>.sel_opt.gemstone.on{
    display: flex;
}


/* 필터의 각 옵션박스의 라벨 전체 공통 디자인 - 커서바꾸기 */
.filter_opt>.sel_opt label{
    cursor: pointer;
}
/* 필터의 각 옵션박스 중 젬스톤 옵션의 박스 설정 */
.filter_opt>.sel_opt.gemstone{
    flex-wrap: wrap;
    gap: 10px;
}
/* 젬스톤 옵션 선택 박스의 라벨 설정 */
.filter_opt .sel_opt.gemstone label{
    display: flex;
    align-items: center;
    gap: 3px;
}
/* 젬스톤 옵션 선택 박스의 이미지 설정 */
.filter_opt .sel_opt.gemstone .gemimg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    /* 넘치는 자식 img요소 숨기기 */
    overflow: hidden;
}
/* 젬스톤 옵션 선택 박스의 사이 간격 설정 */
.filter .gemstone input+label{
    padding-right: 15px;
}
/* 젬스톤 옵션 선택 박스의 하위 li 설정 */
.filter_opt>.sel_opt.gemstone>li{
    display: flex;
    gap: 5px;
}



/******************************************* 메인 영역 *******************************************/

/* 그리드 박스 공통 세팅 */
.grid {
    display: grid;
    /* 가로방향 12그리드 셋팅 */
    grid-template-columns: repeat(12, 1fr);
    /* 세로방향 높이값 셋팅 : auto는 횟수 지정해서 반복할 필요 없이 알아서 row 개수 처리함 */
    /* grid-auto-rows: minmax(300px, auto); */
    /* 상하갭 */
    grid-row-gap: var(--gridGap);
    /* 좌우갭 */
    grid-column-gap: var(--gridGap);

    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 50px 20px 0;
    
}
/* 1번째 그리드박스 세팅 */
.grid.grid1{
    margin-bottom: 20px;
}
/* 2번째 그리드박스 세팅 */
.grid.grid2{
    padding-top: 0;
    grid-template-columns: repeat(4, 1fr);
}
/* 3번째 그리드박스 세팅 */
.grid.grid3{
    padding-top: 0;
    grid-template-columns: repeat(4, 1fr);
}


/* 각 컨텐츠 박스의 그리드 위치영역 설정하기 */
/* 1번째 줄 */
.rw1.imgbx {
    grid-column: 1/7;
    /* 세로 영역은 아래쪽으로 설정! */
    grid-row: 1/3;
    /* : 영역 잡으면 아무도 못옴! 거기에 있던 나머지애들은 다 쫓겨남! */
}
.rw1.productbx[data-pnum="1"] {
    grid-column: 7/10;
}
.rw1.productbx[data-pnum="2"] {
    grid-column: 10/13;
}
/* 2번째 줄 */
.rw2.productbx[data-pnum="3"] {
    grid-column: 7/10;
}
.rw2.productbx[data-pnum="4"] {
    grid-column: 10/13;
}
/* 3번째 줄 */
.rw3.productbx[data-pnum="5"] {
    grid-column: 1/4;
}
.rw3.productbx[data-pnum="6"] {
    grid-column: 4/7;
}
.rw3.imgbx {
    grid-column: 7/13;
    /* 세로 영역은 아래쪽으로 설정! */
    grid-row: 3/5;
}
/* 4번째 줄 */
.rw4.productbx[data-pnum="7"] {
    grid-column: 1/4;
}
.rw4.productbx[data-pnum="8"] {
    grid-column: 4/7;
}

/* 그리드 박스 내부 디자인 */
/* 그리드 직계 div박스 */
.grid>div{
    cursor: pointer;
}
/* 그리드 내부 img 태그 공통 세팅 */
.grid>div img{
    background-color: var(--bg_beige);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 그리드 박스 내부의 홍보 이미지 공통 세팅 */
.grid>.imgbx{
    position: relative;
    /* 부모자격 - 직계 span 요소들 */
}
/* 그리드 박스 내 홍보 이미지 - 직계 span 공통 세팅 */
.grid>.imgbx>span{
    position: absolute;
}
/* 홍보 이미지 - 직계 span 요소들 개별 세팅 */
/* 타이틀 */
.imgbx>.tit{
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
}
/* 자세히 보기 버튼 */
.imgbx>.btn{
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 30px;
    background-color: var(--black);

    font-size: 14px;
    color: var(--white);
}
.productbx{
    /* position: relative; */
}
/* 제품 이미지 하단의 간단한 설명 박스 디자인 */
.productbx>.imgbx{
    position: relative;
    overflow: hidden;
    /* 넘치는 자식요소 숨기기 */
}
.productbx>.imgbx>img:first-child{
    /* position: absolute; */
}
/* 제품 착용샷 숨겨두기 */
.productbx>.imgbx>img:last-child{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}


/* 제품 설명 박스 - 겉박스 세팅 */
.productbx>.descbx{
    padding: 10px 0;
    color: var(--bg_black);
    line-height: 1.7;
}
/* 제품 설명 박스 - 타이틀 */
.productbx>.descbx .tit{
    font-size: 16px;
}
/* 제품 설명 박스 - 가격 */
.productbx>.descbx .price{
    font-size: 14px;
}
/* 제품 설명 박스  - 소재, 젬스톤 */
.productbx>.descbx span{
    font-size: 14px;
}
.gem_opt_bx{
    display: inline-block;
}


/* 제품 더보기 박스 - 겉박스 */
.morebx{
    padding: 50px 0 100px;
    text-align: center;
    line-height: 1.7;
}
/* 제품 더보기 박스 - 텍스트박스 */
.morebx>.txt{
    padding: 20px 0;
    font-size: 16px;
    letter-spacing: 1px;
}
/* 제품 더보기 박스 - 더 보기 버튼 */
.morebx>.morebtn{
    width: 420px;
    padding: 12px 30px;
    background-color: var(--white);
    border: 1px solid var(--black);
    font-size: 14px;
    cursor: pointer;

    transition: 
    background-color .4s ease-in-out, 
    color .4s ease-in-out;
}
.morebx>.morebtn:hover{
    background-color: var(--black);
    color: var(--white);
}








/* 1100px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1100px) {
    /* 필터의 각 옵션박스 중 젬스톤 옵션의 박스 설정 */
    .filter_opt>.sel_opt.gemstone{
        flex-wrap: wrap;
        gap: 10px;
    }
}
/* 1100px 사이즈 이하 미디어쿼리 끝 */



/* 600px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 600px) {
    /* 필터 - 제목 박스 */
    .filter>ul {
        display: flex;
        row-gap: 0;
        column-gap: 10px;
        flex-wrap: wrap;
    }
    .filter_opt>.sel_opt{
        flex-wrap: wrap;
        row-gap: 0px;
        column-gap: 10px;
    }

    /* 제품 리스트 - 그리드 박스 */
    /* 1번째 줄 */
    .rw1.imgbx {
        grid-column: 1/13;
        grid-row: 3/5;
    }
    .rw1.productbx[data-pnum="1"] {
        grid-column: 1/7;
    }
    .rw1.productbx[data-pnum="2"] {
        grid-column: 7/13;
    }
    /* 2번째 줄 */
    .rw2.productbx[data-pnum="3"] {
        grid-column: 1/7;
    }
    .rw2.productbx[data-pnum="4"] {
        grid-column: 7/13;
    }
    /* 3번째 줄 */
    .rw3.productbx[data-pnum="5"] {
        grid-column: 1/7;
    }
    .rw3.productbx[data-pnum="6"] {
        grid-column: 7/13;
    }
    .rw3.imgbx {
        grid-column: 1/13;
        grid-row: 7/9;
    }
    /* 4번째 줄 */
    .rw4.productbx[data-pnum="7"] {
        grid-column: 1/7;
    }
    .rw4.productbx[data-pnum="8"] {
        grid-column: 7/13;
    }

    /* 2번째 그리드박스 */
    .grid.grid2{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* 600px 사이즈 이하 미디어쿼리 끝 */
